.button {
  display: inline-block;
  padding: 0.7rem 1.7rem;
  margin: 0 0.3rem 0.3rem 0;
  border-radius: 0.4rem;
  font-weight: 400;
  color: #ffffff;
  background-color: black;
  text-align: center;
  position: relative;
  border: 0.15rem solid #cccccc;
  outline: none;
}

button:hover {
  border-color: #7a7a7a;
}

button:active {
  background-color: #999999;
}
