.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

.modalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {
  z-index: 100;
  background: white;
  position: relative;
  margin-top: 10%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 0.5rem;
  max-width: 500px;
  padding: 2rem;
}

.modalHeader {
  display: flex;
  justify-content: flex-end;
}
