.footer {
  border-top: 1px solid black;
}

.container {
  display: flex;
  flex-direction: column;
}

.container p {
  align-self: center;
}

.london {
  font-weight: bold;
}

.copyright {
  font-size: 0.9rem;
  padding-bottom: 0.2rem;
}
